
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <h3 class="admin_page_heading">Admin Page</h3>
      <h4><%= link_to('Logout', {:controller => "user_admins", :action => 'logout'}, :class => "admin_logout" ) %></h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row text-center">
    <br>
    <h4 class="customer_messages_heading">Customer Messages</h4>
  </div>
  <div class="row text-left">
    <div class="col-xs-12">
      <br>
      <% @messages.each do |m| %>
      <h5 class="admin_message_display">Name: <%= m.name %></h5>
      <h5 class="admin_message_display">Email: <%= m.email %></h5>
      <h5 class="admin_message_display">Phone: <%= m.phone_number %></h5>
      <h5 class="admin_message_display">Message: <%= m.user_message %></h5>
      <h5 class="admin_message_display">Sent: <span style="color:red"><%= m.created_at %></span></h5>
      <br>
      <% end %>
    </div>
  </div>
</div>

